venv/
.venv/
.venv
__pycache__/
.mypy_cache/
.pytest_cache/
.vscode/
.test_files/
.test_json/
Pipfile.lock
*.sqlite3
*.db
*.log
*.pot
*.pyo
*.env
*.pem
*.key
*.crt
build/
dist/
*.egg-info/
.eggs/
*.egg
*.wheel
*.egg-info/
.eggs/
*.c
*.so
test_g.sh
todo.txt